
laboratoriocolas/.classpath
laboratoriocolas/.project
laboratoriocolas/.settings/org.eclipse.core.resources.prefs
laboratoriocolas/.settings/org.eclipse.jdt.core.prefs
laboratoriocolas/.settings/org.eclipse.m2e.core.prefs
